.panel-heading.fadeout{
  color: red;
}

.panel-heading:hover{
  cursor: pointer;
  background-color: green;

}
.row{
  clear: both;
}

.panel-body.toggle{
  display: none;
}

.panel-body.fadeto{
  display: none;
}
